body {
    background-color: #eee;
}

.chart-container {
    background-color: #fff;
    margin: 20px 0px;
    padding-bottom: 20px;
    border: 1px solid #dddddd;
    box-shadow: 5px 5px 5px #ddd;
}

.chart-container h3 {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
}

.legend {
    margin-top: 20px;
}

.tick line {
    stroke-dasharray: 2, 2;
}

#timeAreaChartSimple y.axis .tick text {
    fill: black;
}

#timeAreaChartSimple .chartTooltip {
    background-color: white;
    padding: 20px;
}

#timeAreaChartSimple .growUp {
    color: green;
}

#timeAreaChartSimple .growDown {
    color: red;
}

#groupedBarChart {
    background-color: #fafafa;
}

#groupedBarChart .tick line,
#groupedBarChart .x .domain,
#groupedBarChart .y .domain {
    display: none;
}

#groupedBarChart .tick text {
    fill: #8e8e8e;
    text-transform: uppercase;
}

#groupedBarChart .legend text {
    fill: #424242;
    text-transform: uppercase;
    font-weight: bold;
}

#groupedHorizontalBarChart .domain {
    display: none;
}

#groupedHorizontalBarChart .label {
    font-size: 14px;
    fill: #8e8e8e;
    font-weight: normal;
}

#groupedHorizontalBarChart .tick {
    fill: #8e8e8e;;
}

#groupedHorizontalBarChart .tick line {
    display: none;
}

#pyramids .x.axis .tick {
    fill: #FFF;
}

#pyramids .x.axis .tick line {
    display: none;
}

